In [3]:
# 문제 1: 두 수 비교하기

num1 = int(input("첫 번째 정수를 입력하세요 : "))
num2 = int(input("두 번째 정수를 입력하세요 : "))

if(num1 > num2):
  print(f"{num1}은(는) {num2}보다 큽니다.")
elif(num1 < num2):
  print(f"{num1}은(는) {num2}보다 작습니다.")
else:
  print(f"{num1}은(는) {num2}와 같습니다.")

첫 번째 정수를 입력하세요 : 3
두 번째 정수를 입력하세요 : 4
3은(는) 4보다 작습니다.

In [9]:
# 문제 2: 세 수 중 가장 큰 수 찾기

num1 = int(input("첫 번째 정수를 입력하세요 : "))
num2 = int(input("두 번째 정수를 입력하세요 : "))
num3 = int(input("세 번째 정수를 입력하세요 : "))

max_num = num1

if(max_num < num2):
  max_num = num2
if(max_num < num3): #여기서 elif를 쓰면 밑에거가 실행이 안될수가 있다.
  max_num = num3

print(f"\n입력하신 세 수 {num1}, {num2}, {num3} 중에서 가장 큰 수는 {max_num}입니다.")

첫 번째 정수를 입력하세요 : 4
두 번째 정수를 입력하세요 : 6
세 번째 정수를 입력하세요 : 2

입력하신 세 수 4, 6, 2 중에서 가장 큰 수는 6입니다.

In [18]:
# 문제 3: 학점 판별하기

score = int(input("시험 점수 (0~100)를 입력하세요 : "))
if(0 <= score <= 100): #중첩 구조
  if(score >= 90):
    grade = "A"
  elif(score >= 80):
    grade = "B"
  elif(score >= 70):
    grade = "C"
  elif(score >= 60):
    grade = "D"
  else:
    grade = "F"
  print(f"당신의 학점은 {grade}입니다.")
else:
  print("점수는 0부터 100사이의 값이어야 합니다.")

시험 점수 (0~100)를 입력하세요 : 66
당신의 학점은 D입니다.

In [23]:
# 문제 4: 윤년 판별하기

year = int(input("연도를 입력하세요 : "))
if(year%4 == 0 and year%100 != 0 or year%400 == 0):
  print(f"{year}년은 윤년입니다.")
else:
  print(f"{year}년은 윤년이 아닙니다.")

연도를 입력하세요 : 2020
2020년은 윤년입니다.

In [31]:
for i in range(1,6): # 이 range부분을 시퀀스라고 함
  print("반복!",i)

반복! 1
반복! 2
반복! 3
반복! 4
반복! 5

In [32]:
for i in range(5):
  print("반복!",(i+1))

반복! 1
반복! 2
반복! 3
반복! 4
반복! 5

In [33]:
for i in range(1, 10, 2):  # 스텝식 스텝이 없으면 그냥 1이 생략된것이라고 보면 됨
  print("반복!",i)

반복! 1
반복! 3
반복! 5
반복! 7
반복! 9

In [34]:
for i in [1,2,3,4,5]: #list 숫자도 문자도 문자열도 다 들어올 수 있음 (중요한 자료구조)
  print("반복!",i)

반복! 1
반복! 2
반복! 3
반복! 4
반복! 5

In [39]:
# 문제 1: 1부터 N까지의 합 계산하기

n = int(input("양의 정수 N을 입력하세요 : "))
total = 0
for i in range(1,n+1):
  total += i
print(f"1부터 {n}까지의 합은 : {total} 입니다.")

양의 정수 N을 입력하세요 : 40405
1부터 40405까지의 합은 : 816302215 입니다.

In [41]:
# 문제 4: 특정 조건까지 반복하기 (while 루프)

count = 0
print("0부터 9까지 출력")
while count < 10:
  print(count)
  count += 1
print("while 루프 종료")

0부터 9까지 출력
0
1
2
3
4
5
6
7
8
9
while 루프 종료

In [45]:
# 문제 4: 특정 조건까지 반복하기 (for로 변환)

print("0부터 9까지 출력")
for i in range (10):
  print(i)
print("for문 종료")

0부터 9까지 출력
0
1
2
3
4
5
6
7
8
9
for문 종료